@import './common.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


.filter_btn {
  button.active {    
    background-color: $applied-filter-button-color;
    &:focus, &:hover {
      outline:none
    }
  }
}